@import 'variables';
.card-user-item {
    margin-top: 16px;
}

.avatar-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.checkbox-select-all-option {
    width: 160px;
    margin: 0 8px;
}