<div class="mt-4">
    <h3>Tạo User</h3>
    <form method="POST" action="/user/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" name="age" id="age">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" name="image" id="image">
        </div>
        <div class="mb-3">
            <label for="video_id" class="form-label">Video Id</label>
            <input type="text" class="form-control" name="video_id" id="video_id">
        </div>
        <button type="submit" class="btn btn-primary">Thêm User</button>
    </form>
</div>